# Data Cleansing
Remove all duplicated values and keep only one (keep the smallest "price_year_eur" if different)

In [1]:
import pandas as pd

In [2]:
#path to the data folder, edit if necesssary
path = "./data/"

#filenames
file_power = "competitor_market_prices_power.csv"
file_gas = "competitor_market_prices_gas.csv"

In [3]:
#define the keys of the dataset
keys = ["date_valid_from", "date_valid_to", "consumption_range_kwh", "tariff", "post_code", "supplier"]

### Competitor Data Power

In [4]:
#read csv
competitors_power = pd.read_csv(path + file_power)

In [5]:
competitors_power.shape

(68438566, 10)

In [6]:
#Averaging out exact duplicate rows 

#Defining groupby cols
gb_cols = ['date_valid_to',
          'date_valid_from',
          'post_code',
           'city',
          'energy',
          'consumption_range_kwh',
          'supplier',
          'tariff']

agg_dict = {'rank':'mean',
           'price_year_eur':'mean'}


competitors_power_clean = competitors_power.groupby(gb_cols).agg(agg_dict).reset_index()

competitors_power_clean

,date_valid_to,date_valid_from,post_code,city,energy,consumption_range_kwh,supplier,tariff,rank,price_year_eur
0,2021-09-01,2021-06-02,14480,Potsdam,power,3500,Galerne,Skiploom,1.0,878.86
1,2021-09-01,2021-06-09,14480,Potsdam,power,2800,Galerne,Skiploom,1.0,678.69
2,2021-09-01,2021-07-10,14480,Potsdam,power,7500,Galerne,Skiploom,1.0,2022.68
3,2021-09-01,2021-07-10,14480,Potsdam,power,7800,Galerne,Skiploom,1.0,2108.47
4,2021-09-01,2021-07-10,14480,Potsdam,power,8000,Galerne,Skiploom,1.0,2165.66
...,...,...,...,...,...,...,...,...,...,...
33161801,9999-12-31,2022-10-15,99089,Erfurt,power,12000,Werra,Banette,9.0,9257.05
33161802,9999-12-31,2022-10-15,99089,Erfurt,power,12000,Werra,Meditite,12.0,9375.86
33161803,9999-12-31,2022-10-15,99089,Erfurt,power,20000,Lule älv,Pidove,7.0,15292.50
33161804,9999-12-31,2022-10-15,99089,Erfurt,power,20000,Sirkos,Magikarp,2.0,13567.83
33161805,9999-12-31,2022-10-15,99089,Erfurt,power,20000,Werra,Meditite,8.0,15448.66

In [7]:
competitors_power_clean.shape

(33161806, 10)

In [8]:
competitors_power_clean.to_csv(path + "clean_" + file_power)

### Competitor Data Gas

In [9]:
#read csv
competitors_gas = pd.read_csv(path + file_gas)

In [10]:
competitors_gas.shape

(29373267, 10)

In [11]:
#Aggregate exact duplicate rows by using mean rank and yearly price in eur
competitors_gas_clean = competitors_gas.groupby(gb_cols).agg(agg_dict).reset_index()

competitors_gas

,date_valid_from,date_valid_to,rank,consumption_range_kwh,tariff,supplier,price_year_eur,post_code,city,energy
0,2021-09-01,2021-09-01,1,22500,Shuppet,Willy,1340.77,58636,Iserlohn,gas
1,2021-09-01,2021-09-01,6,90000,Rillaboom,Piteraq,5218.84,42277,Wuppertal,gas
2,2021-09-01,2021-09-01,44,24000,Spheal,Belaja,1743.21,38226,Salzgitter,gas
3,2021-09-01,2021-09-01,37,150000,Spheal,Belaja,10474.03,6844,Dessau-Roßlau,gas
4,2021-09-01,2021-09-01,46,20000,Staraptor,Tornado,1542.88,3046,Cottbus,gas
...,...,...,...,...,...,...,...,...,...,...
29373262,2022-09-13,2022-09-27,5,2500,Aegislash,Sarma,1261.55,21423,Winsen,gas
29373263,2022-09-13,2022-09-27,10,80000,Ampharos,Sarma,36918.80,45899,Gelsenkirchen,gas
29373264,2022-09-13,2022-09-27,11,20000,Ampharos,Sarma,9230.80,12627,Berlin,gas
29373265,2022-09-13,2022-09-27,11,18000,Ampharos,Sarma,8443.80,9130,Chemnitz,gas
29373266,2022-09-13,2022-09-27,6,3800,Ampharos,Sarma,1984.10,24109,Melsdorf,gas

In [12]:
competitors_gas_clean.shape

(18287488, 10)

In [ ]:
competitors_gas_clean.to_csv(path + "clean_" + file_gas)