# Data Cleansing
Remove all duplicated values and keep only one (keep the smallest "price_year_eur" if different)

In [65]:
import pandas as pd

In [66]:
#path to the data folder, edit if necesssary
path = "./data/"

#filenames
file_power = "competitor_market_prices_power.csv"
file_gas = "competitor_market_prices_gas.csv"

In [67]:
#define the keys of the dataset
keys = ["date_valid_from", "date_valid_to", "consumption_range_kwh", "tariff", "post_code", "supplier"]

### Competitor Data Power

In [68]:
#read csv
competitors_power = pd.read_csv(path + file_power)

In [69]:
competitors_power.shape

(68438566, 10)

In [70]:
#delete duplicates by keys, for duplicated values keep the lower price
competitors_power_clean = competitors_power.sort_values(by="price_year_eur").drop_duplicates(subset=keys, keep="first").sort_index()

In [71]:
competitors_power_clean.shape

(32634489, 10)

In [72]:
competitors_power_clean.to_csv(path + "clean_" + file_power)

### Competitor Data Gas

In [73]:
#read csv
competitors_gas = pd.read_csv(path + file_gas)

In [74]:
competitors_gas.shape

(29373267, 10)

In [75]:
#delete duplicates by keys, for duplicated values keep the lower price
competitors_clean_gas = competitors_gas.sort_values(by="price_year_eur").drop_duplicates(subset=keys, keep="first").sort_index()

In [76]:
competitors_clean_gas.shape

(17982685, 10)

In [77]:
competitors_clean_gas.to_csv(path + "clean_" + file_gas)

competitors_clean_gas.consumption_range_kwh.nunique()

32

In [78]:
competitors_power_clean.head()

,date_valid_from,date_valid_to,rank,consumption_range_kwh,tariff,supplier,price_year_eur,post_code,city,energy
0,2022-02-19,2022-02-20,22,2400,Nidorina,Solanus,1061.77,41751,Viersen,power
2,2022-02-19,2022-02-20,31,3600,Grookey,Purga,1562.37,31137,Hildesheim,power
6,2022-02-19,2022-02-20,26,5500,Appletun,Helm,2203.24,78054,Villingen-Schwenningen,power
9,2022-02-19,2022-02-20,22,250,Wimpod,Wambra,234.19,14480,Potsdam,power
13,2022-02-19,2022-02-20,13,500,Patrat,Pulenat,362.13,41462,Neuss,power